<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815361553001-oaj07kmp692rdf1tj3frmpuq3f6mrk7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815361553001-oaj07kmp692rdf1tj3frmpuq3f6mrk7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>815361553001-71i8mjf53b5p3r0v6avbqq4t4v7fh4ks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzfysRqMCjWOpsejEi8G0o9jv-X2Dq-7k</string>
	<key>GCM_SENDER_ID</key>
	<string>815361553001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocialFirebase</string>
	<key>PROJECT_ID</key>
	<string>fluttersociallogin-711ea</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersociallogin-711ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815361553001:ios:0d49f44c90582ef19268f8</string>
</dict>
</plist>